grid = {
  //output css class name
  name: 'grid',
  columns: 12,
  gutters: {
    column: 30px,
    row: 0
  },
  //precision of output values
  precision: 4,
  clearWidth: false,
  breakpoints: {
      t: 0,
      xs: 375px,
      sm: 480px,
      md: 850px,
      lg: 1200px,
      xlg: 1440px
  },
}


//set actual body-font-size for to use rem values; otherwise set it to 0
body-font-size = 0


